<div class="max-w-4xl">
  <div>
    <span>
      © 2025–{{ now.Year }}.
    </span>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a>
    <span class="font-medium hidden md-inline" aria-hidden="true">|</span>
    <a href="{{ relref . "/imprint" }}">Imprint</a>
  </div>
  <div class="text-end md-text-start">
    <a href="https://floss.social/@ariel" target="_blank" rel="me">Mastodon</a>
    <a href="https://matrix.to/#/#ariel-os:matrix.org" target="_blank">Matrix Chat</a>
  </div>
</div>
