{{ define "main" }}
<section class="hero-banner px-8">
  <div class="max-w-5xl mx-auto">
    <h1 class="sr-only">Ariel OS</h1>
    <div class="hero-logo">
      {{ partial "herologo.svg" }}
    </div>
    <div class="md-mt-0 mt-10">
      A library operating system for <em>secure</em>, <em>memory-safe</em>, <em>low-power</em> IoT
    </div>
  </div>
</section>

<!-- <section class="max-w-3xl mx-auto"> -->
<!-- Ariel OS is a free, open-source operating system for secure, memory-safe, low-power Internet of Things (IoT). Built on Rust from the ground up, Ariel OS supports the main hardware architectures (Cortex-M, RISC-V, Xtensa) and popular 32-bit microcontrollers and boards from vendors such as Nordic, ST, Espressif, and Raspberry Pi. Integrating the best of the existing embedded Rust ecosystem, Ariel OS strives to provides a seamless, batteries-included experience for firmware development. -->
<!-- </section> -->

<!-- <section class="selling-point"> -->
<!--   <div> -->
<!--     <div class="selling-point"> -->
<!--       <h2>Portable applications</h2> -->
<!--       <p> -->
<!--         Write applications that run on varied hardware with only little adjustments, if any. -->
<!--       </p> -->
<!--     </div> -->
<!--     <div class="selling-point"> -->
<!--       <h2>Batteries included</h2> -->
<!--       <p> -->
<!--         Ariel OS integrates crates and tools that work well together so you can focus on writing your application. You can still use any crate you want! -->
<!--       </p> -->
<!--     </div> -->
<!--     <div class="selling-point"> -->
<!--       <h2>Connected</h2> -->
<!--       <p> -->
<!--         Ariel OS makes networking easy to use! -->
<!--       </p> -->
<!--     </div> -->
<!--   </div> -->
<!-- </section> -->
<section class="py-20">
  <div class="text-center">
    <a class="button" href="https://ariel-os.github.io/ariel-os/dev/docs/book/getting-started.html">Get started now!</a>
  </div>
</section>
{{ end }}
